#nav {
    position: sticky;
    top: 0;
    z-index: 99;
    .content {
        padding: 0 20px;
        .top {
            .logo {
                height: 60px;
                width: 60px;
                border-radius: 0 0 60px 60px;
            }
            .button {
                z-index: 21;
                position: relative;
                outline: none;
                border: none;
                border-radius: 100px;
                background-color: rgba($black, 0.3);
                color: $white;
                line-height: 1;
                font-weight: 500;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: 0.2s;
                height: 40px;
                &-language {
                    margin-right: 15px;
                    padding: 2px 15px;
                }
                &-menu {
                    width: 40px;
                    .close {
                        display: none;
                    }
                    .menu {
                        display: inline-block;
                    }
                }
                &-menu.button-close {
                    background-color: $body;
                    color: $black;
                    transform: rotate(0deg);
                    .close {
                        display: inline-block;
                    }
                    .menu {
                        display: none;
                    }
                    &:hover {
                        transform: rotate(180deg);
                    }
                }
                &:hover:not(&-menu.button-close) {
                    background-color: rgba($black, 0.45);
                }
                &-language .material-symbols-outlined {
                    margin-right: 7px;
                    font-size: 20px;
                }
            }
        }
    }
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    overflow-y: scroll;

    z-index: 20;
    background-color: rgba($black, 0.8);
    backdrop-filter: blur(20px);
    top: 0;
    right: 0;
    width: 720px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 155px;
    padding-left: 50px;
    transition: 0.5s;
    &.translate-100 {
        transform: translateX(100%);
    }
    nav {
        ul {
            .nav-item {
                .nav-link {
                    display: inline-block;
                    padding: 10px 25px;
                    font-size: 23px;
                    text-transform: capitalize;
                    color: $gray2;
                    transition: 0.4s;
                    &::after {
                        content: "";
                        display: block;
                        transition: 0.4s;
                        width: 0;
                        margin-top: 3px;
                        height: 3px;
                        background: $primary;
                    }
                    &.active,
                    &:hover:not(&.follow) {
                        font-weight: 700;
                        font-size: 25px;
                        color: #f8f8f8;
                        &::after {
                            width: 50%;
                        }
                    }
                    &:hover:not(&.follow) {
                        &::after {
                            width: 70% !important;
                        }
                    }

                    &.follow {
                        margin-top: 150px;
                        color: #bdbdbd;
                        .social {
                            margin-top: 12px;
                            a {
                                text-decoration: none;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                height: 42px;
                                width: 42px;
                                border-radius: 12px;
                                vertical-align: middle;
                                background-color: #f2f2f2;
                                transition: 0.3s;
                                &:hover {
                                    background-color: darken(#f2f2f2, 10%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 720px) {
    #sidebar {
        width: 100%;
    }
}

@media (max-width: 575px) {
    #nav {
        .content {
            .top {
                .logo {
                    height: 40px;
                    width: 40px;
                }
                .buttons {
                    margin-top: 7px;
                    .button-language {
                        // display: none;
                    }
                }
            }
        }
    }
    #sidebar {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-left: 30px;
        nav {
            ul {
                .nav-item {
                    .nav-link {
                        &.follow {
                            margin-top: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #nav {
        .content {
            .top {
                .logo {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
    #sidebar {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-left: 0;
        nav {
            ul {
                .nav-item {
                    .nav-link {
                        font-size: 21px;
                        &.active,
                        &:hover:not(&.follow) {
                            font-size: 23px;
                        }
                        &.follow {
                            margin-top: 100px;
                        }
                    }
                }
            }
        }
    }
}
