@import "./elements";
.see-more-btn {
    font-weight: 500;
    text-transform: capitalize;
    color: $gray2;
    display: inline-block;
    padding: 13px 20px;
    border-radius: 100px;
    background: $white;
    box-shadow: shaddowLarge();
    border-radius: 100px;
    border: none;
    transition: 0.25s;
    text-decoration: none;
    border: 1px solid transparent;
    outline: none;
    .material-symbols-outlined {
        margin-right: 10px;
    }
    &:hover {
        font-weight: 700;
        color: $body;
        background-color: $gray2;
        box-shadow: shaddowLarge($primary);
    }
}

.btn-clear {
    background-color: #f2f2f2;
    display: inline-block;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    color: darken($secondary, 10%);
    border-radius: 100px;
    transition: 0.2s;
    padding: 8px 15px;
    &:hover {
        background-color: darken($secondary, 10%);
        font-weight: 700;
        color: $body;
    }
    .material-symbols-outlined {
        margin-right: 8px;
    }
}

.btn {
    &:focus {
        box-shadow: none !important;
        outline: 0 !important;
    }
}

.dropdown.action {
    .btn {
        padding: 8px 17px;
        border-radius: 5px;
        color: rgb(126, 130, 153);
        border: 0;
        font-size: 13px;
        font-weight: 500;
        background-color: #eef3f7;
        .material-symbols-outlined {
            font-size: 17px;
        }
        &:hover,
        &.show {
            border: 0;
            outline: 0;
            color: $primary;
        }
        &.show {
            background-color: rgba($primary, 0.15);
        }
    }
    .dropdown-menu {
        border: 0;
        padding: 5px;
        color: inherit;
        box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
        border-radius: 10px;
        .dropdown-item {
            font-size: 13px;
            color: inherit;
            padding: 6px 12px;
            border-radius: 5px;
            &:hover {
                background-color: #eef3f7;
                color: $primary;
            }
            .material-symbols-outlined {
                font-size: 15px;
                width: 22px;
            }
        }
    }
}
