@function shaddowLarge($color: $black, $opacity: 0.05) {
    $result: 0px 20px 50px rgba($color, $opacity);
    @return $result;
}

@function secondaryFont() {
    $result: "Roboto Condensed", sans-serif;
    @return $result;
}
@function primaryFont() {
    $result: "Roboto", sans-serif;
    @return $result;
}
