@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$white: #fff;
$black: #000;
$body: #f8f8f8;
$primary: #0095e8;
$secondary: #6fcf97;
$gray: #4f4f4f;
// $gray2: #828282;
$gray2: #9d9da6;
$dark: #1e1e2d;
